/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  /* animation-name: dropdown;
  animation-duration: 1.5s;
}
  
  @keyframes dropdown {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0px);
  } */
 }


/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.player1 {
 background-color: purple; 
}

.player2 {
  background-color: salmon;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

