/* game board table */
#game {
  display: flex;
  align-items: center;
  justify-content: center;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation-name: dropdown;
  animation-duration: 2s;
}
  
  @keyframes dropdown {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0px);
  }
 }



.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
