{% extends 'base.html' %} {% block content %}

<h1>Our Pets</h1>

<div class="row pets-listing">
  {% for pet in pets %}
  <div class="col-3">
    <img class="img-thumbnail" src="{{ pet.image_url() }}" />
    <a href="{{ url_for('edit_pet', pet_id=pet.id) }}">{{ pet.name }}</a>
    {% if pet.available %} <b> is available!</b> {% endif %}
  </div>
  {% else %}
  <div class="col-12">No pet available.</div>
  {% endfor %}
</div>

<a class="btn btn-primary" href="{{ url_for('add_pet') }}">Add a Pet</a>

{% endblock %}
