{% extends 'base.html'  %}
{% block title %}Lucky Numbers{% endblock %}

{% block content %}
<h1>Your lucky number is: {{lucky_num}}</h1>
<p>{{msg}}</p>

{% if lucky_num == 3 %}
<h2>That's my lucky number too!!</h2>
<img
  src="https://media1.giphy.com/media/XbxZ41fWLeRECPsGIJ/giphy.gif?cid=790b761153151bad69ceb64ff7b5fa38203c43e2b869255e&rid=giphy.gif"
  alt="">
{% else %}
<h2>{{lucky_num}} is not my lucky number </h2>
<img
  src="https://media3.giphy.com/media/9Y5BbDSkSTiY8/giphy.gif?cid=790b7611b808f91fb1ef76582389256e93505b3cc474ffbf&rid=giphy.gif"
  alt="">
{% endif %}
{%  endblock %}