.Pokecard {
  display: inline-block;
  width: 8em;
  background-color: #f0f0f0;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.Pokecard-name {
  color: #ee1515;
  font-weight: bold;
  font-size: 1.25em;
}

