{% extends 'base.html' %} 

{% block title %}404 Page Not Found{% endblock %}} 

{% block content %}
    <div class="m-auto">
      <iframe
        src="https://giphy.com/embed/8L0Pky6C83SzkzU55a"
        width="480"
        height="480"
        frameborder="0"
        class="giphy-embed"
        allowfullscreen
      ></iframe>
    </div>
    
    <div class="m-auto">
      <a href="/" class="h1 text-success"
        ><i class="fas fa-undo"></i> &ensp; Go back to Home Page</a
      >
    </div>
{% endblock %}
    